
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomolhari&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #722cff;
}

header {
  width: 100%;
  height: 70px;
}

nav {
  width: 1200px;
  height: 70px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.nav__ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav__li {
  list-style: none;
}

.nav__link {
  text-decoration: none;
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
}

.nav__btn {
  margin-left: 50px;
  width: 127.25px;
  height: 36.85px;
  background: #297fff;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.nav__btn a {
  text-decoration: none;
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
}

.title {
  width: 100%;
  height: 54px;
}

.title__container {
  width: 1200px;
  height: 54px;
  margin: 75px auto;
}

.title__container h2 {
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 54px;
  color: #ff8c34;
}

.posts {
  width: 100%;
  height: 1703px;
  margin-top: 42px;
}

.posts__container {
  width: 1200px;
  height: 1703px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.posts__left {
  width: 720px;
  height: 1703px;
  background-color: #ffffff;
  border: 2px solid #ff8c34;
  border-radius: 15px;
}

.post {
  display: flex;
  justify-content: space-between;
  width: 660px;
  height: 324px;
  margin: 49px auto;
}

.post1 {
  margin-top: 33px;
}

.post__question{
    display: block;
    width: 432px;
    text-decoration: none;
  padding-top: 27px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #ff8e38;
}

.post__text {
  width: 413px;
  padding-top: 17px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.post__date {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff8e38;
}

.post__link {
  padding-top: 255px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff8e38;
}

.posts__left__hr {
  margin: 49px auto;
  width: 660px;
  height: 2px;
  background: #d9d9d9;
}

.search {
  width: 365px;
  height: 191px;
  background: #ffffff;
  border: 2px solid #ff8e38;
  border-radius: 15px;
}

input {
  margin: 29px 35px;
  padding-left: 25px;
  width: 288px;
  height: 55px;
  background: #d9d9d9;
  border-radius: 10px;
  border: none;
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #737373;
}

.search__btn {
  margin-left: 35px;
  width: 288px;
  height: 50px;
  background: #ff8e38;
  border-radius: 20px;
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.categories {
  width: 365px;
  height: 551px;
  background: #ffffff;
  border: 2px solid #ff8e38;
  border-radius: 15px;
  margin-top: 19px;
}

.categories__title {
  padding: 35px 20px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ff8e38;
}

.categories__p {
  padding-bottom: 6px;
  padding-left: 20px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.categories__p1 {
  padding-top: 53px;
}

.categories__hr {
  margin-left: 20px;
  margin-bottom: 22px;
  width: 300px;
  height: 2px;

  background: #d9d9d9;
}

.posts__block {
  width: 365px;
  height: 545px;
  background: #ffffff;
  border: 2px solid #ff8e38;
  border-radius: 15px;
  margin-top: 19px;
}

.posts__block__title {
  padding: 41px 20px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ff8e38;
}

.es7 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 300px;
  height: 50px;
  padding-left: 20px;
}

.es7__text {
  padding-left: 5px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}

.es7__date {
  padding-bottom: 33px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ff8e38;
}

.posts__block__hr {
  margin-left: 20px;
  margin-top: 5px;
  width: 300px;
  height: 2px;
  background: #d9d9d9;
}
.tegs {
  gap: 14px;
  width: 365px;
  height: 223px;
  margin-top: 19px;
  background: #ffffff;
  border: 1px solid #ff8e38;
  border-radius: 15px;
}

.tegs__title {
  padding: 17px 27px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #ff8e38;
}

.tegs__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding-left: 27px;
  cursor: pointer;
}

.tegs__btn {
  background: #ffffff;
  border: 1px solid #ff8e38;
  border-radius: 15px;
}

.tegs__btn a {
  text-decoration: none;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.html {
  width: 90px;
  height: 40px;
}

.css {
  width: 90px;
  height: 40px;
}

.sass {
  width: 80px;
  height: 40px;
}

.JavaScript {
  width: 194px;
  height: 40px;
}

.PHP {
  width: 80px;
  height: 40px;
}
.hosting {
  width: 117px;
  height: 40px;
}

.wordpress {
  width: 157px;
  height: 40px;
}

footer {
  width: 100%;
  height: 395px;
  background-color: #000000;
  margin: 0 auto;
  margin-top: 195px;
}

.footer__container {
  width: 1200px;
  height: 395px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list h4 {
  font-family: "Jomolhari";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
}

.footer__li {
  list-style: none;
  font-family: "Jomolhari";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.footer__li1{
  padding-top: 11px;
}

.footer__btn {
  margin-left: 50px;
  width: 127.25px;
  height: 36.85px;
  background: #297fff;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.footer__btn a {
  text-decoration: none;
  font-family: 'Jersey 10';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
}
